# Ignore compiled Python files
*.pyc

# Ignore virtual environment
venv/

# Ignore IDE files
.vscode/
.idea/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore package build files
build/
dist/

# Ignore cache and database files
__pycache__/
*.sqlite3
